@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Geist+Mono:wght@100..900&family=Unbounded:wght@200..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Geist+Mono:wght@100..900&family=Manrope:wght@200..800&family=Unbounded:wght@200..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-manrope;
  }

  section {
    @apply pb-[60px] sm:pb-20 lg:pb-[120px] 3xl:pb-40;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-bold text-brand-dark font-unbounded;
  }

  h1 {
    @apply text-[40px] sm:text-[64px] xl:text-[82px] 3xl:text-[120px] leading-10 sm:leading-[64px] xl:leading-[82px] 3xl:leading-[120px];
  }

  h2 {
    @apply text-4xl sm:text-5xl xl:text-[55px] 3xl:text-[80px] leading-9 sm:leading-[48px] xl:leading-[55px] 3xl:leading-[80px];
  }

  h3 {
    @apply text-2xl sm:text-[28px] xl:text-3xl 3xl:text-[50px] leading-6 sm:leading-7 xl:leading-[30px] 3xl:leading-[50px];
  }

  h3 {
    @apply text-2xl sm:text-[28px] xl:text-3xl 3xl:text-[50px] leading-6 sm:leading-7 xl:leading-[30px] 3xl:leading-[50px];
  }

  h4 {
    @apply sm:text-xl xl:text-[22px] 3xl:text-3xl leading-4 sm:leading-5 xl:leading-[22px] 3xl:leading-[30px];
  }

  h5 {
    @apply text-sm sm:text-[17px] xl:text-[19px] 3xl:text-[26px] leading-[14px] sm:leading-[17px] xl:leading-[19px] 3xl:leading-[26px];
  }

  button {
    @apply text-xs sm:text-[13px] xl:text-sm 3xl:text-lg;
  }
}

.container {
  @apply max-w-full md:max-w-[784px] xl:max-w-[1184px] 3xl:max-w-[1784px] mx-auto px-30px;
}

.fade-in {
  animation: fadeIn 0.2s ease-in-out forwards, scaleIn 0.2s ease-in-out forwards;
}

.fade-out {
  animation: fadeOut 0.2s ease-in-out forwards,
    scaleOut 0.2s ease-in-out forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
    transform: scale(1);
  }
  to {
    opacity: 0;
    transform: scale(0.95);
  }
}

.no-scroll::-webkit-scrollbar {
  @apply size-0;
}

.section-top-padding {
  @apply pt-[60px] sm:pt-20 lg:pt-[120px] 3xl:pt-40;
}
